body{
    background-color: #f9d2e2;
    font-family: sans-serif;
}
#container{
    background-color: #ececec;
    margin-top: 50px;
    height: 500px;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}
#menuBar{
    overflow: hidden;
    width: 100%;
    left: 0;
    top: 0;
    position: fixed;
    background-color: #dc2167;
 }
#menuBar  a{
    float: left;
    margin: 10px;
    padding: 14px 16px;
    display: block;
    text-align: center;
    text-decoration: none;
    color: #ececec;
}
#menuBar a:hover{
    color: #dc2167;
    background-color: #ececec;
}
#content{
    padding: 10px;
    color: #0d1137;
}
#footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #dc2167;
    color: white;
    text-align: center;
}